<div class="card card-primary mb-3">
	<div class="card-body">
		<h5 class="card-title">
			<div class="d-flex justify-content-between">
				<%= link_to workshop.title, workshop, class: 'text-decoration-none text-dark' %>
				<% if !current_user.nil? && workshop.user_id === current_user.id %>
					<div class="actions-container">
						<%= link_to 'Edit', edit_workshop_path(workshop), class: 'btn badge badge-dark' %>
						<%= link_to 'Delete', workshop_path(workshop), 
								method: :delete, 
								data: { confirm: 'Are you sure?' },
								class: 'btn badge badge-danger' %>
					</div>
				<% end%>
			</div>
		</h5>
		<p class="card-text">
			<% if workshop.date.nil? %>
				<small>No date provided</small>
			<% else %>
				On: <strong><%= workshop.date %></strong>
			<% end %>
		</p>
	</div>
</div>