<h2 class='text-monospace'>Workshops</h2>

<div class="workshops-container mt-3">
	<div class="row">
		<% @workshops.each do |workshop| %>
			<div class="col-6">
				<%= render partial: 'workshops/workshop', locals: { workshop: workshop } %>
			</div>
		<% end %>
	</div>
</div>
