<% if current_user %>
	<a href=<%= account_index_path %> class='btn btn-outline-primary account-link'>
		<i class="far fa-user"></i>
	</a>
	<%= link_to 'Log Out', destroy_user_session_path(current_user), method: :delete, class: 'btn btn-outline-secondary' %>
<% else %>
	<%= link_to 'Register', new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to 'Login', new_user_session_path, class: "btn btn-outline-primary" %>
<% end %>
