@import "variables";

.account-index-container {
  .info-container {
    &:hover {
      .edit-account-btn {
        opacity: 1;
      }
    }
  }

  .edit-account-btn {
    cursor: default;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    width: 38px;
    padding: 6px;
  }

  .profile-picture {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: $light-shadow;
    }
  }
}

.edit-profile-form {
  .picture-upload {
    border-radius: 50%;
    box-shadow: $light-shadow;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    position: relative;
    &:hover {
      .open-file-upload {
				opacity: 1;
        transition: all 0.15s $cubic-bezier;				
      }
    }

    .image-holder {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .open-file-upload {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: all 0.25s $cubic-bezier;
      opacity: 0;
      background: rgba(#fff, 0.4);
      font-weight: 600;
      cursor: default;
      &:active {
        color: $primary-color;
      }

      i {
        font-size: 3rem;
      }
    }

    .picture-input {
      display: none;
    }
  }
}
