@import 'variables';

.workshop-participants {
	display: flex;
	align-items: center;

	.heading {
		font-weight: 600;
		font-size: 1.4rem;
	}

	.participants-container {
		display: flex;
		margin-left: 15px;

		.participant {
			margin-left: -15px;
			position: relative;
			&:first-of-type {
				margin-left: 0px;
			}

			img {
				border: 1px solid $gray-500;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				box-shadow: $medium-shadow;
				&:hover {
					cursor: pointer;
				}
			}
		}

		.participant-0 {
			z-index: 53;
		}
		.participant-1 {
			z-index: 52;
		}
		.participant-2 {
			z-index: 51;
		}
	}
}

.comments {
	margin-top: 30px;

	.comment {
		max-width: 100%;
	
		.comment-avatar {
			width: 25px;
			border-radius: 50%;
			height: 25px;
			margin-right: 5px;
		}
	}

	.comment-input-holder {
		margin-bottom: 20px;
		position: relative;

		.comment-input {
			height: 100px;
			resize: none;
			padding: 15px 120px 15px 15px;
		}

		.submit-comment-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: calc(100% - 30px);
			display: flex;
			align-items: center;
			right: 15px;
		}
	}
}